.mainNav{

  .nav {

    position:fixed;
    background:$nav_background_resp;
    top:67px;
    width:250px;
    bottom:0;
    right:-250px;
    transition:300ms;
    overflow-y:scroll;
    z-index:100;

  ul{
    margin:0;
    padding:0;


    li{
      display:block;

      a{
        display:block;
        padding: 15px 20px;
        text-decoration: none;
        color:$nav_text_color_resp;
        border-bottom:$nav_border_resp;
        &:active {
                    color:$nav_text_color_active_resp;
                    background:$nav_background_color_active_resp;
                 }

        &:hover  {
                    color:$nav_text_color_hover_resp;
                     background:$nav_background_color_hover_resp;
                 }

      }

         li {
               a{ padding:15px 35px;}
           ul {
             a {
               padding:15px 45px;
             }
           }
            }

    }}}}

#menuToggle{display:none;}
label[for="menuToggle"] {
  position:fixed;
  top:20px;
  right:20px;

  color:$menu_toggle_color;
  font-size:30px;
  cursor:pointer;
}

#menuToggle:checked + .nav{
  right:0;
}

@include media($medium)
{
  label[for="menuToggle"] {display:none;}

.mainNav{

  .nav {
    position:absolute;
    bottom:0;
    right:0;
    top:auto;
    width:auto;
    overflow-y: visible;
    background: $header_background_color;


    ul {
      font-size:0;
      li {


        display:inline-block;
        position:relative;
        font-size:16px;
        &:last-child {margin-right:0;}
        &:hover { ul { visibility: visible; opacity:1; transform: translateY(0);

        ul {visibility:hidden;opacity:0;}
        } }

        a {
          color:$nav_color;
          background: $header_background_color;
          padding:15px;
          border-bottom:$nav_border;


          &:hover {
            background:$header_background_color;
            border-bottom:$nav_border_hover;
            color:$nav_color;
          }
        }

        ul {
          opacity: 0;
          visibility: hidden;
          position:absolute;
          left:0;
          top:50px;
          transition:300ms;
          transform: translateY(20px);



          li {
            display:block;
            margin:0;
            padding:0;
            position:relative;


            &:hover {
              ul {
                opacity:1;
                visibility: visible;
              }
            }

            a {
              padding:15px;
              min-width:150px;
              border:none;
              background:$nav_subitem_background;
              color:$nav_subitem_color;

              &:hover {
                border:none;
                background:$nav_subitem_background_hover;
                color:$nav_subitem_color_hover;
              }
            }

            ul {
              position:absolute;
              top:0;
              left:100%;
              opacity:0;
              visibility: hidden;

            }



        }}}
    li:last-child {
      ul {
        ul {
          left:-150px;
        }
      }
    }

    }}}}

