
//CTA
.CTA {
  text-align:center;
  margin:55px 0;

  a {
    background:$cta_background;
    padding:20px;
    color:$cta_color;
    text-decoration:none;
    font-size:20px;
    transition:300ms;
    text-transform: uppercase;

    &:hover {
      background:$cta_background_hover;
      color:$cta_color_hover;
    }
  }
}

//Heading
.heading {
  text-align:center;
  font-size:50px;
  color:$heading_color;
}

// Quote
.quote_wrapper {
  margin:20px auto;
  max-width: 500px;
  position:relative;

  i {
    font-size:30px;
    color:$quote_icon_color;
  }
}
.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.45;
  position: relative;
  color: $quote_color;
  margin:0;
  padding:10px;
}
.cite {color:$quote_author_color;}
@include media($medium){
  .quote_wrapper {
    i{position:absolute;left:-40px;}
  }
}

// Classic WYSIWYG
.classic_wysiwyg {
  max-width:800px;
  width:100%;
  margin:20px auto;
  padding:20px;
}


// Slider

.slider {

  .slider_item {
    height: 0;
    max-height: 50vh;
    min-height: 300px;
    text-align:center;

    .title {
      margin: 0 auto;
      padding-top:20px;
      width:80%;

      h1 {
        color:$slider_h1_color;
        text-transform: uppercase;
        background:$slider_h1_p_background;
        font-weight:600;
        font-size:30px;
        margin:0;
      }

      p {
        background:$slider_h1_p_background;
        color:$slider_p_color;
        font-size:18px;
        margin:0;
        margin-top:10px;
        padding:10px;
      }


    }

    .slider_CTA {
      position:absolute;
      bottom:55px;
      text-align:center;
      width:100%;
      a {
        padding:10px 20px;
        text-decoration:none;
        font-size:20px;
        transition:300ms;
        text-transform: uppercase;
        color:$slider_CTA_color;
        background:$slider_CTA_background;
        &:hover {
          background:$slider_CTA_background_resp;
          color:$slider_CTA_color_resp;
        }

      }
    }



  }
}
@include media($medium) {
  .slider {

    .slider_item {
      height: 80vh;
      max-height: 620px;
      min-height: 400px;

      .title {
        width: 62%;
        padding-top: 80px;

        h1 {
          font-size: 51px;
          padding: 21px 10px;

        }

      }

      .slider_CTA {bottom:80px;}
    }

  }
}