
//CTA
.CTA {
  text-align:center;
  margin:55px 0;

  a {
    background:$cta_background;
    padding:20px;
    color:$cta_color;
    text-decoration:none;
    font-size:20px;
    transition:300ms;
    text-transform: uppercase;

    &:hover {
      background:$cta_background_hover;
      color:$cta_color_hover;
    }
  }
}

//Heading
.heading {
  text-align:center;
  font-size:50px;
  color:$heading_color;
}

// Quote
.quote_wrapper {
  margin:20px auto;
  max-width: 500px;
  position:relative;

  i {
    font-size:30px;
    color:$quote_icon_color;
  }
}
.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.45;
  position: relative;
  color: $quote_color;
  margin:0;
  padding:10px;
}
.cite {color:$quote_author_color;}
@include media($medium){
  .quote_wrapper {
    i{position:absolute;left:-40px;}
  }
}

// Classic WYSIWYG
.classic_wysiwyg {
  max-width:800px;
  width:100%;
  margin:20px auto;
  padding:20px;
}